@import url(https://fonts.googleapis.com/css2?family=Space+Mono);

:root {
  --primary: hsl(172, 67%, 45%);
  --secondary: hsl(183, 100%, 15%);
  --third: hsl(184, 14%, 56%);
  --main-color-bg: hsl(185, 41%, 84%);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  font-family: "Space Mono";
  background-color: var(--main-color-bg);
}

button,
input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.primary {
  color: var(--primary);
}

.primary-background {
  color: var(--secondary);
  background-color: var(--primary);
}

.secondary-background {
  color: white;
  background-color: var(--secondary);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
