@import url(https://fonts.googleapis.com/css2?family=Space+Mono);

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  font-family: "Space Mono";
  background-color: hsl(185, 41%, 84%);
}

button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.primary {
  color: hsl(172, 67%, 45%);
}

.primary-background {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}

.secondary-background {
  color: hsl(0, 0%, 100%);
  background-color: hsl(183, 100%, 15%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
