.container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.input {
  color: var(--secondary);
  border: 0;
  width: 100%;
  background-color: inherit;
  text-align: right;
}

.input::placeholder {
  color: var(--third);
}

.input:focus,
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.inputContainer {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: hsl(189, 41%, 97%);
  border-radius: 15px;
}
